{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2> {{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: <a href="{% url 'book' pub_date=book.pub_date %}">{{ book.pub_date|date:'Y-m-d' }}</a></p>
            </div>
            {% endfor %}
        </div>
        <br><br>
        {% if prev_date %}
        <a href="{% url 'book' pub_date=prev_date %}">< {{ prev_date|date:'Y-m-d' }}</a>
        {% endif %}

        {% if next_date %}
        <a href="{% url 'book' pub_date=next_date %}" >{{ next_date|date:'Y-m-d' }} ></a>
        {% endif %}
    </div>
{% endblock %}